@model NowDelivary.ViewModel.CurrentLoginUser

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>@Model.CurrentUserID</p>
    <p>@Model.CurrentUserName</p>
    <p>@Model.CurrentUserEmail</p>
</div>
