
@{
    ViewData["Title"] = "ChooseAreaForSupermarket";
}

@using (Html.BeginForm("GetAllSupermarketsbyArea", "Customer",FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="area" style="color:white;font-size:large">اختار المنطقة</label>
            <div class="col-md-10">
                @Html.DropDownList("AreaID", ViewData["GetArea"] as IEnumerable<SelectListItem>, new { id = "area", @class = "custom-select form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-outline-dark btn-block" value="ادخل" />
            </div>
        </div>
    </div>
}

